.input-feld-classify{
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 0.6rem 1rem;
    background-color: #ffefef;
    color: color-mix(in oklab, purple 30, darkblue 70);
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-feld-classify:hover{
    outline: none;
}

.input-feld-classify::placeholder{
    color: rgba(255,122,122,0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}